background ${BG}
foreground ${FG}
cursor ${ACCENT}
selection_background ${ACCENT}
color0 ${BG}
color1 ${ERROR}
color2 ${SUCCESS}
color3 ${WARN}
color4 ${PRIMARY}
color5 ${SECONDARY}
color6 ${ACCENT}
color7 ${FG}
