return {
  foreground='${FG}',
  background='${BG}',
  cursor_bg='${ACCENT}',
  ansi={'${BG}','${ERROR}','${SUCCESS}','${WARN}','${PRIMARY}','${SECONDARY}','${ACCENT}','${FG}'},
  brights={'${BG}','${ERROR}','${SUCCESS}','${WARN}','${PRIMARY}','${SECONDARY}','${ACCENT}','${FG}'}
}
