[Unit]
Description=Generate palette
After=wallpaper.target

[Service]
Type=oneshot
WorkingDirectory=%h/hypraura
ExecStart=%h/hypraura/scripts/mood-engine
